.tittle{
    background-image: url("https://www.naadac.org/assets/2416/new-york-banner.jpg");
    width: 100%;
    height: 250px;
    color: white;
    text-align: center;
    font-family: cursive;
}

.navigator{
    width: 200px;
}

.navigator a button:hover{
    color: black;
    background-color: darkgrey;
    
}